@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import "tailwindcss";

.bg-image{
  background-image: url('https://i.imgur.com/bgReeWa.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: 'Lulo';
  src: url('../public/Lulo\ Clean\ W01\ One\ Bold.otf');
}

.lulo
{
  font-family: 'Lulo';
}

.raleway
{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-weight
{
  background-image: url(https://static.wixstatic.com/media/cc76ef_d028076aa95143559171c64423b6541a~mv2.jpeg/v1/fill/w_980,h_740,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/cc76ef_d028076aa95143559171c64423b6541a~mv2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.peachbg
{
  background-image: url(https://i.imgur.com/bgReeWa.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}